<!DOCTYPE html>
<html>
<head>
  <title>TheConnector</title>
  <link href="stylesheets/style2.css" rel="stylesheet" type="text/css"/>
  <style>
  body {
  background-image: url("images/background.jpg");
  background-size: cover;
  }
  </style>
</head>
<body>
    <form class="modal-content animate" action="/action_page.php">
      <div class="imgcontainer">
        <img src="images/logo.PNG" alt="TheConnector">
      </div>
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <button type="submit" onclick= "location.href='http://localhost:3000/';"> Login</button>
        <button type="submit" onclick= "location.href='register.html';" class="registerbtn">Register</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
      <div class="container" style="background-color:#F8B02A">
        <button type="button" onclick= "location.href='ResetPassword.html';" class="cancelbtn">Forgot password?</button>
      </div>
    </form>
</body>
</html>
